<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <% avatar_url = User.avatar_url(@user, 128) %>
      <% unless avatar_url.nil? %>
        <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>,
          <%= pluralize(@user.favorites.count, 'favorite') %>
        </small>
      </div>
    </div>
  </div>
</div>

<div>
<% if user_has_no_posts(@user) %>
  <%= "#{@user.name} has not submitted any posts yet." %>
<% else %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% end %>
</div>
</br>
<div>
<% if user_has_no_comments(@user) %>
  <%= "#{@user.name} has not submitted any comments yet." %>
<% else %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>
</div>
</br>
<div>

<div class="favorites_list">
<% unless @user.favorites.count < 1 %>
  <h2>Favorite Posts</h2>
  <ul>
    <% @user.favorites.each do |favorite| %>
    <li>
      <%= favorite.post.title %>
      <% avatar_url = User.avatar_url(@user, 24) %>
        <% unless avatar_url.nil? %>
          <%= image_tag avatar_url, class: 'gravatar' %>
        <% end %>
      <%= favorite.post.votes.count %> votes,
      <%= favorite.post.comments.count %> comments
    <% end %>
    </li>
  </ul>
    </div>
  <% end %>
</div>
